.information_item {
  height: 50px;
  padding: 10px 20px;
  box-shadow: 0 3px 4px rgba(119, 136, 153, 0.5);
}

.information_item:focus {
  outline: none;
}

.w_70 {
  width: 70%;
}

.gap_10 {
  gap: 10px;
}
.gap_20 {
  gap: 20px;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.message {
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  width: 100%;
}

.color_red {
  color: red;
}

.color_green {
  color: green;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 12px;
  }
}
