.tabBar_container {
  background: var(--white);
  bottom: 0;
  height: 80px;
  border-top: 2px solid var(--grey);
}

.link {
  color: #778899;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.link:hover {
  opacity: 0.5;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .tabBar_container {
    display: flex !important;
  }
}
