.select_container {
  right: 0;
  top: 0;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  background: var(--white);
  transition: all 500ms;
  padding: 0 20px;
  transition-timing-function: ease-in-out;
  box-shadow: 6px 6px 13px 0 hsla(0, 0%, 46%, 0.25);
}

.select_container:hover {
  cursor: pointer;
}

.animated {
  height: 340px;
  position: fixed;
  transition: all 500ms;
  padding-bottom: 20px;
  transition-timing-function: ease-in-out;
}

.text_white {
  color: transparent;
  transition: 0.5s;
}

.text_black {
  color: var(--black);
  transition: 2.5s;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

.text:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.1s;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.height_50 {
  height: 50px;
}

.gap_20 {
  gap: 20px;
}

.gap_10 {
  gap: 5px;
}

@media screen and (max-width: 980px) {
  .select_container {
    top: 50px;
    width: 100%;
  }
}
