@import url("../../styles/Variables.css");

.navBar_container {
  background: var(--white);
  height: 80px;
  padding: 0 25px;
}

.logo_container {
  max-width: 80px;
}

.logo {
  width: 100%;
  height: 80px;
}

.img_container {
  max-width: 40px;
  max-height: 40px;
}
