.gap_50 {
  gap: 50px;
}

.gap_20 {
  gap: 20px;
}

.data_container {
  max-width: calc(4 * 300px + 3 * 20px + 40px);
  padding: 0 20px;
}

.img_container {
  max-width: 45px;
}

.img_container img {
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .data_container {
    max-width: calc(3 * 300px + 2 * 20px + 40px);
  }
}

@media screen and (max-width: 980px) {
  .data_container {
    max-width: calc(2 * 300px + 20px + 40px);
  }
  .container {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }

  .gap_50 {
    gap: 100px;
  }
}
