@font-face {
  font-family: "MontserratVariables";
  src: local("MontserratVariables"),
    url("../public/assets/fonts/montserrat/veriable/Montserrat-VariableFont_wght.ttf")
      format("truetype");
}

body {
  margin: 0;
  font-family: MontserratVariables !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-family: MontserratVariables !important;
}

code {
  font-family: MontserratVariables;
}
#root {
  position: relative;
  min-height: 100vh;
  padding: 0 0 300px 0;
}

@media screen and (max-width: 600px) {
  #root {
      padding: 0 0 430px 0;
  }
}

.fade {
  opacity: 1 !important;
}

.modal-backdrop {
  opacity: 0.5 !important;
}

.custom-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
  position: absolute !important;
  overflow-y: auto;
  max-height: 650px;
}

.modal-dialog {
  height: 100vh !important;
  top: 200px;
  bottom: 200px;
  margin: 0 auto !important;
  max-height: calc(100vh - 80px);
  height: 100%;
  overflow-y: auto;
}  

button:focus {
  outline: none;
  background: none !important;
  border: none !important;
}

button:hover {
  opacity: 0.5;
  cursor: pointer;
}
